* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 0;
  max-width: 100%;
  border: 0;
}

.root-1 {
  min-height: 100vh;
  background-color: #fff;
}

.hasSidebar {
  padding-left: 250px;
}

.content {
  max-width: 1000px;
  padding: 16px 32px;
  margin: 0px auto;
  display: block;
}

.sidebar {
  background-color: rgb(245, 245, 245);
  border: rgb(232, 232, 232) solid;
  border-width: 0 1px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 250px;
  overflow: auto;
}

.sidebarContent {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.list {
  margin: 0;
  padding-left: 16px;
}

.item {
  color: rgb(51, 51, 51);
  display: block;
  margin: 8px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link,
.link:link,
.link:visited {
  font-size: inherit;
  color: rgb(22, 115, 177);
  text-decoration: none;
}

.link:hover {
  color: rgb(33, 151, 230);
}

.logo {
  padding: 16px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.logo h1 {
  color: rbg(51, 51, 51);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 600px) {
  .hasSidebar {
    padding-left: 0;
  }

  .sidebar {
    position: static;
    width: auto;
    border-width: 1px 0 0;
    padding-bottom: 4px;
  }
}

.wrap {
  margin-bottom: 32px;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  color: rgb(51, 51, 51);
}

.section-header h1 {
  font-size: 48px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

.section-header h2 {
  font-size: 36px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
}

.footer {
  display: block;
  color: rgb(118, 118, 118);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.para {
  margin-top: 0;
  margin-bottom: 16px;
  color: rgb(51, 51, 51);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  line-height: 1.5;
}

.color-grid {
  margin: 0;
  min-width: 0;
  display: grid;
  gap: 0.25rem;
}

.color-row {
  margin: 0;
  min-width: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.color {
  padding: 4rem 0.5rem 0.5rem;
  overflow: hidden;
}

.color p {
  margin: 0;
  font-family: 'Mono Lisa', Monaco, monospace;
  font-size: 0.75rem;
  white-space: nowrap;
}

.color p>input {
  border: none;
  background: white;
  border-radius: 5px;
  width: 70px;
  opacity: 0.6;
}

.color p>input:focus {
  border: none;
  outline: none;
}

.typo-grid {
  margin: 0;
  min-width: 0;
  display: grid;
  gap: 2rem;
}

.typo-row {
  margin: 0;
  min-width: 0;
  display: grid;
  gap: 0.5rem;
}

.typo-row h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: 'Mono Lisa', Monaco, monospace;
}

.heading-demo {
  align-self: center;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  font-size: 2rem;
  font-weight: 700;
}

.body-demo {
  align-self: center;
  margin: 0px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(51, 51, 51);
}

.disc-demo {
  align-self: center;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(187, 187, 187);
}

.error-demo {
  align-self: center;
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #d0453e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}